body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    width: 800px;
}

.title {
    margin-top: 54px;
    text-align: center;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.quiz-content {
    margin-bottom: 46px;
}

.quiz-answer-item {
    margin: 0;
    padding: 12px;
    border: 1px solid #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.quiz-answer-item span {
    margin-left: 12px;
}

.quiz-action {
    display: flex;
    justify-content: space-between;
}

.quiz-action button {
    padding: 8px;
    width: 100px;
    cursor: pointer;
}
